@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


#img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 40%;
  top: 20px;
  left: 10%;
}

.subtitle{
  padding-top: 2%;
}
#textReview {
  padding-top: 2%;
}

#date {
  left: 1%;
  font-size: xx-small;
}

#buttonAddReview {
  top: 35%;
  left: 3%;
}

/* close css page review */
