@import url("https://fonts.googleapis.com/css2?family=Oi&family=Roboto:ital@1&family=Tangerine&display=swap");

.carousel-item {
  height: 40rem;
  width: 100%;
}

.backcarousel {
  background-color: black;
}

.entry {
  font-family: "Roboto", sans-serif;
}
