@import url("https://fonts.googleapis.com/css2?family=Oi&family=Roboto:ital@1&family=Tangerine&display=swap");

header {
  background: url(./beerserving.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding: 220px;
  margin-bottom: 50px;
}

header .container {
  background-color: oldlace;
  padding: 220px;
}

.welcome h1 {
  font-family: "Oi", cursive;
  font-size: 70px;
  color: rgb(242, 147, 46);
}

.welcome p {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  color: rgb(62, 38, 13);
}
