@import url("https://fonts.googleapis.com/css2?family=Oi&family=Roboto:ital@1&family=Tangerine&display=swap");

.banner {
  background-color: rgb(74, 91, 219);
}

.navbar {
  padding: 10px;
  width: 100%;
}

.navbar-brand {
  font-family: "Oi", cursive;
  font-size: 2em;
  color: rgb(242, 147, 46);
}

.navbar-brand:hover {
  color: rgb(74, 91, 219);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.user-nav button {
  margin: 7px;
}